@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  --cell-width: 32px;
  --cell-height: 32px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 30px;
  color: black;
  text-shadow: 0px -1px 0px rgba(255, 255, 31, 0.4);
  width: 230px;
  background-color: #554d42;
  border-radius: 5px;
}

#fireCanvas, h3, p, a {
  margin: 8px;
  text-align: center;
  color: white;
}

button, input, footer {
  margin: 5px auto;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid black;
  border-collapse: collapse;
}

td {
  border: 1px solid black;
  color: white;
  width: var(--cell-width);
  height: var(--cell-height);
  font-size: 10px;
  text-align: center;
  vertical-align: center;
  position: relative;
  font-weight: bold;
}

td.pixel {
  width: 7px;
  height: 7px;
  border: 0;
}

.pixel-Index {
  font-size: 7px;
  display: inline-block;
  position: absolute;
  top: 1px;
  right: 1px;
  color: #999;
}

/* Div's styles */

section#controlsContainer {
  margin: auto;
  box-sizing: border-box;
  text-align: center;
}

div#controlBoxes {
  display: flex;
  flex-flow: wrap row;
}

div.controls {
  border: 1px solid whitesmoke;
  text-align: center;
  width: 150px;
  margin: 10px;
  padding: 5px;
  text-align: center;
  vertical-align: auto;
}
